[Desktop Entry]
Type=Service
MimeType=application/pdf;
Actions=printBunch
[Desktop Action printBunch]
Name=Print PDF
Name[ru]=Печать PDF
Icon=stock_print
Exec=/usr/bin/pdf_butch_print %F
